<section id="home">


<div id="pizza-carousel" class="carousel slide" data-ride="carousel">
    <!-- nav dots -->
    <ol class="carousel-indicators">
        <li data-target="#pizza-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#pizza-carousel" data-slide-to="1"></li>
        <li data-target="#pizza-carousel" data-slide-to="2"></li>
    </ol>
    <!-- wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= image_tag("carousel-1.png", class: "cover") %>
        </div>
        <div class="item">
            <%= image_tag("carousel-2.png", class: "cover") %>
        </div>
        <div class="item">
            <%= image_tag("carousel-3.png", class: "cover") %>
        </div>
    </div>
    <!-- next and prev arrows -->
    <a class="left carousel-control" href="#pizza-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#pizza-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>



</section>