/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "*";
 @import "bootstrap-sprockets";
 @import "bootstrap";
/* 
'########::'########::'######::'########:'########:
 ##.... ##: ##.....::'##... ##: ##.....::... ##..::
 ##:::: ##: ##::::::: ##:::..:: ##:::::::::: ##::::
 ########:: ######:::. ######:: ######:::::: ##::::
 ##.. ##::: ##...:::::..... ##: ##...::::::: ##::::
 ##::. ##:: ##:::::::'##::: ##: ##:::::::::: ##::::
 ##:::. ##: ########:. ######:: ########:::: ##::::
..:::::..::........:::......:::........:::::..:::::
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
'##::::'##::::'###::::'########::'####::::'###::::'##::::'##:'########:'####::'######::
 ##:::: ##:::'## ##::: ##.... ##:. ##::::'## ##::: ##:::: ##: ##.....::. ##::'##... ##:
 ##:::: ##::'##:. ##:: ##:::: ##:: ##:::'##:. ##:: ##:::: ##: ##:::::::: ##:: ##:::..::
 ##:::: ##:'##:::. ##: ########::: ##::'##:::. ##: ##:::: ##: ######:::: ##::. ######::
. ##:: ##:: #########: ##.. ##:::: ##:: #########:. ##:: ##:: ##...::::: ##:::..... ##:
:. ## ##::: ##.... ##: ##::. ##::: ##:: ##.... ##::. ## ##::: ##:::::::: ##::'##::: ##:
::. ###:::: ##:::: ##: ##:::. ##:'####: ##:::: ##:::. ###:::: ########:'####:. ######::
:::...:::::..:::::..::..:::::..::....::..:::::..:::::...:::::........::....:::......:::
*/

:root {
    --red: #CF0028;
    --yellow: #FFDE3F;
    --black: #0D0D0D;
    --white: #FAFAFA;
    --green: #5BE032;
}

@font-face {
    font-family: 'Dorsa';
    src:url('Dorsa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    width: 85vw;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}
/* 
'##::::'##:'########::::'###::::'########::'########:'########::
 ##:::: ##: ##.....::::'## ##::: ##.... ##: ##.....:: ##.... ##:
 ##:::: ##: ##::::::::'##:. ##:: ##:::: ##: ##::::::: ##:::: ##:
 #########: ######:::'##:::. ##: ##:::: ##: ######::: ########::
 ##.... ##: ##...:::: #########: ##:::: ##: ##...:::: ##.. ##:::
 ##:::: ##: ##::::::: ##.... ##: ##:::: ##: ##::::::: ##::. ##::
 ##:::: ##: ########: ##:::: ##: ########:: ########: ##:::. ##:
..:::::..::........::..:::::..::........:::........::..:::::..::
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--red);
    z-index: 1000;
    height: 20vh;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
}

header.shrink {
    height: 10vh;
}

header h1 {
    display: inline;
    font-size: 5.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 20vh;
    margin-left: 2vw;
    color: var(--yellow);
    font-family: 'Dorsa';
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

header.shrink h1 {
    font-size:24px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.logo {
    float: left;
    height: 18vh;
    margin-top: 1vh;
}

.logo img {
    float: left;
    height: -webkit-fill-available;
}

nav {
    float: right;
}

nav ul {
    line-height: 4vh;
    padding: 8vh 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    color: var(--white);
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-shadow: 0px 2px 6px var(--black);
    font-size: 1.2em;
    padding: 0 20px;
}

nav a, a:visited, a:hover {
    text-decoration: none;
    color: var(--white);
    background-color: transparent;
}

nav a::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: var(--white);
    box-shadow: 0px 2px 10px var(--black);
    border-radius: 10%;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
    transition: 0.3s;

}

body:nth-child(2){
    margin-top: 20vh;
}

/*
'########::'#######:::'#######::'########:'########:'########::
 ##.....::'##.... ##:'##.... ##:... ##..:: ##.....:: ##.... ##:
 ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##:::: ##:
 ######::: ##:::: ##: ##:::: ##:::: ##:::: ######::: ########::
 ##...:::: ##:::: ##: ##:::: ##:::: ##:::: ##...:::: ##.. ##:::
 ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##::. ##::
 ##:::::::. #######::. #######::::: ##:::: ########: ##:::. ##:
..:::::::::.......::::.......::::::..:::::........::..:::::..::
*/

footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    bottom: 0;
    background-color: var(--red);
}

footer p {
    color: var(--black);
    font-family: 'Open Sans';
    font-size: 1em;
    line-height: 1.5em;
}

footer p:first-child{
    margin-top: 2vh;
}