// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-page {
    width: 720px;
    padding: 1% 0 0;
    margin: auto;
    display: flex;
}

form {
    width: 270px;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
  }

.form input {
    font-family: "Open Sans";
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

input[type="submit"] {
    font-family: "Open Sans";
    text-transform: uppercase;
    font-weight: bold;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--white);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: #43A047;
  }

.shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
}

.login-page h2 {
    font-family: "Open Sans";
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--black);
}