
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "nome" %>
  </div>

  <div class="field">
    <%= form.text_field :lastname, placeholder: "sobrenome" %>
  </div>

  <div class="field">
    <%= form.text_field :email, placeholder: "e-mail" %>
  </div>

  <div class="field">
    <%= form.text_field :phone, placeholder: "telefone" %>
  </div>

  <div class="field">
    <%= form.password_field :password, placeholder: "senha" %>
  </div>
  
	<div class="field">
    <%= form.password_field :password_confirmation, placeholder: "confirmar senha" %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar" %>
  </div>
<% end %>
