<!DOCTYPE html>
<html>
  <head>
    <title>Pizzaria Pé de Pizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <a href="/">
      <div class="logo">
        <%= image_tag("logo.svg") %>
         <h1>Pé de Pizza</h1>
      </div>
      </a>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#cardapio">Cardápio</a></li>
          <li><a href="/#quem-somos">Quem somos</a></li>
          <li><a href="/#contato">Contato</a></li>
          <li><% if logged_in? %>
                <%= link_to 'Sair', logout_path, method: :delete %>
              <% else %>
                <%= link_to 'Entrar', login_path %>
              <% end %></li>
        </ul>
      </nav>
    </div>
  </header>


    <%= yield %>


  <footer>
    <p>Feito com muito carinho e vontade de pizza pela {IN} Junior</p>
    <p>Webmaster & webdesigner: Niasi</p>
  </footer>  
  </body>
</html>
