<div class="login-page">
<div class="shadow">
<div class="form login">
<h2>Bem-vindo de volta!</h2>
<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
    <% flash.each do |g| %>
      <div class="field">
        <p><%= g %></p>
      </div>
    <% end %>

    <div class="field">
        <%= form.text_field :email, placeholder: 'e-mail' %>
    </div>

    <div class="field">
        <%= form.password_field :password, placeholder: 'senha' %>
    </div>

    <%= form.submit "Entrar" %>
<% end %>
</div>
<div class="form register">
<h2>Cadastre-se</h2>

<%= render 'users/form', user: @user %>
</div>
</div>
</div>